[submodule "build/patched_emscripten"]
	path = build/patched_emscripten
	url = https://github.com/karelbilek/emscripten.git
	branch = implement-more-syscalls-for-standalone
[submodule "build/xpdfreader-mirror"]
	path = build/xpdfreader-mirror
	url = https://github.com/karelbilek/xpdf-mirror.git
